
<div ng-controller="My.AccessibilityReporterDetail as vm">
    <div class="umb-editor-header" style="display: flex; align-items: center;">
        <div class="umb-editor-header__name-and-description" style="flex: 1 1 auto;">
            <h1 class="umb-panel-header-name">{{model.result.help}} <uui-tag color="default" look="outline" style="margin: 0 5px;">{{model.result.nodes.length}} error<span ng-if="model.result.nodes.length !== 1">s</span></uui-tag></h1>
        </div>
    </div>
    <div class="umb-editor-container umb-panel-body umb-scrollable row-fluid">
        <div class="umb-pane">

            <div class="umb-group-panel" ng-repeat="issue in model.result.nodes">
                <uui-box>

                    <div slot="headline">
                        <h2 class="c-title">Violation {{$index + 1}} <uui-tag slot="headline" color="{{accessibilityReporterService.impactToTag(model.result.impact)}}" look="primary" style="margin-left: 10px;">{{accessibilityReporterService.upperCaseFirstLetter(model.result.impact)}}</uui-tag></h2>
                    </div>

                    <h3 class="c-detail__title" style="margin-top: 0;">Description</h3>
                    <p>{{addFullStop(model.result.description)}}</p>

                    <h3 class="c-detail__title">Location</h3>
                    <pre class="code">{{issue.target[0]}}</pre>
                    
                    <h3 class="c-detail__title">HTML Source</h3>
                    <pre class="code">{{issue.html}}</pre>

                    <h3 class="c-detail__title">Failure Summary</h3>
                    <p>{{formatFailureSummary(issue.failureSummary)}}</p>

                    <div ng-if="issue.any.length && issue.any[0].relatedNodes.length">
                        <h3 style="font-size: 16px; font-weight: 700;">Related Nodes</h3>
                        <pre class="code">{{issue.any[0].relatedNodes[0].html}}</pre>
                    </div>

                </uui-box>
            </div>

        </div>
    </div>

    <umb-editor-footer ng-if="model.infiniteMode">

        <umb-editor-footer-content-right>
            <umb-button type="button"
                        button-style="link"
                        label-key="general_close"
                        shortcut="esc"
                        action="model.close()">
            </umb-button>
        </umb-editor-footer-content-right>

    </umb-editor-footer>
</div>